
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fitness_forms.css') }}">

    <title>Document</title>
    <style>
        .logout-btn {
            padding: 8px 16px;
            background-color: #e74c3c;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }
        .logout-btn:hover {
            background-color: #c0392b;
        }
        </style>
        
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}Progress Chart | Fit-Track{% endblock %}
    
    {% block content %}
    <div class="form-container">
        <h2>Your Fitness Progress</h2>
        <div class="chart-box">
            <img src="{{ url_for('static', filename='charts/progress_chart.png') }}" alt="Progress Chart">
        </div>
    </div>
    <br>
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>

    {% endblock %}
    

</body>
</html>

